client/node_modules/
comments/node_modules/
posts/node_modules/
event-bus/node_modules/
query/node_modules/
moderation/node_modules/
client/package-lock.json
comments/package-lock.json
posts/package-lock.json
event-bus/package-lock.json
query/package-lock.json
moderation/package-lock.json
infra/k8s/skaffold
*.tgz                 
